https://:1337 {
	tls internal

	basic_auth {
		{$BASIC_AUTH_USER} {$BASIC_AUTH_PASSWORD_HASH}
	}

	@backend_api path /api*
	handle @backend_api {
		reverse_proxy localhost:18791
	}

	@backend_ws path /ws*
	handle @backend_ws {
		reverse_proxy localhost:18791
	}

	redir /terminal /terminal/
	redir /filebrowser /filebrowser/
	redir /mihomo /mihomo/
	redir /napcat /napcat/

	handle_path /terminal/* {
		reverse_proxy localhost:7681
	}

	handle_path /filebrowser/* {
		reverse_proxy localhost:8080
	}

	handle_path /mihomo/* {
		reverse_proxy localhost:9090
	}

	handle_path /napcat/* {
		reverse_proxy localhost:6099
	}

	handle {
		reverse_proxy localhost:4173
	}
}
