# vim: ft=systemd
[Unit]
Description=Create soulboard tmux session
After=default.target

[Service]
Type=oneshot
WorkingDirectory=%h/nanobot-soulboard
ExecStartPre=/bin/bash -c 'while ! echo > /dev/tcp/127.0.0.1/7890; do sleep 1; done'
ExecStartPre=/bin/bash -c 'cd frontend && pnpm build'
ExecStart=/usr/bin/tmuxp load -d .
RemainAfterExit=yes

[Install]
WantedBy=default.target
