# vim: ft=systemd
[Unit]
Description=Create soulboard tmux session
After=default.target

[Service]
Type=oneshot
ExecStartPre=/bin/bash -c 'while ! echo > /dev/tcp/127.0.0.1/7890; do sleep 1; done'
ExecStart=/usr/bin/tmuxp load %h/nanobot-soulboard
RemainAfterExit=yes

[Install]
WantedBy=default.target
